#search-container {
    position: fixed;
    z-index: $zIndex1;
    top: 47px;
    right: 15px;
    width: 400px;
    //margin: 8px 10px 20px 10px;
    margin-bottom: 20px;
    //border: 1px solid #777;
    //border-radius: 8px;
    padding: 8px 10px;
    //box-shadow: 3px 3px 5px #777;
    background: white;
    max-height: calc(100% - 114px);
    label.input-group-addon, .datepicker-label-container {
        min-width: 140px;
    }
    .datepicker .btn {
        left: 0;
    }
    .checkbox-container {
        border: 1px solid #ccc;
        border-top: none;
        label {
            margin-bottom: 0;
            font-weight: normal;
        }
        padding: 5px 5px;
    }
    //overflow: scroll;
    //input {
    //    font-size: 19px;
    //    padding: 6px 18px;
    //}
    //input, select {
    //    width: 100%;
    //    margin: 0 0 5px 0;
    //}
    @media (max-width: $breakpoint2) {
        right: 0;
        left: 0;
        width: calc(100% - 27px);
        margin: auto;
        #favourites {
            ul {
                width: 100%;
            }
        }
    }
}