#new-item {

    //display: flex;
    //justify-content: center;
    //align-items: flex-start;
    //margin-bottom: 20px;
    //border-radius: 8px;
    //width: 900px;
    //> * {
    //    margin: 0 10px 0 10px;
    //}
    width: 900px;
    max-width: 100%;
    .fa-asterisk {
        //color: $danger;
        font-size: 16px;
    }
    .note {
        width: 100%;
    }
    textarea {
        height: 300px;
        display: block;
        &::-webkit-input-placeholder {
            text-align: center;
            //                line-height: 40;
        }
    }
    .item-body {
        margin-top: 6px;
    }
    //input[type="checkbox"] {
    //    width: auto;
    //}
    //
    //@media (max-width: 320px) {
    //    justify-content: flex-start;
    //    width: auto;
    //    flex-wrap: wrap;
    //    > div {
    //        flex-grow: 1;
    //    }
    //    select {
    //        width: 100%;
    //    }
    //    .note {
    //        width: 100%;
    //    }
    //}

}