
@mixin absoluteCenter {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

@mixin inputPlaceholder {
    &:-ms-input-placeholder {
        font-style: italic;
    }
    &::placeholder {
        font-style: italic;
    }
}

@mixin inputGroupLabel {
    //background: $base3;
    background: lighten($base1, 10%);
    color: darken($base2, 10%);
    min-width: 160px;
    text-align: right;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    @media all and (max-width: $breakpoint2) {
        min-width: 105px;
    }
}

@mixin navBackground {
    background: #FF5F6D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, $base2 , $base1); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, $base2 , $base1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin footer {
    @include navBackground;

    //color: white;
    a {
        color: white;
        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

@mixin baseFont {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

@mixin characterFont {
    font-family: "Annie Use Your Telescope";
    color: $base4;
}