.child-pagination-btns {
    display: flex;
    justify-content: center;
    margin: 0 5px;
    button {
        margin: 0 3px;
    }
}

#parent-pagination-btns {

}

.btn-success{
    background: $base4;
    border-color: $base1;
    &:hover {
        background: darken($base4, 3%);
        border-color: $base1;
    }
}

//.btn-default {
//    border-color: $base2;
//    color: $base2;
//}

.btn {
    &:focus, &.active:focus, &:active {
        outline: none !important;
    }
    &.btn-default {
        &:focus, &.active:focus, &:active, &:hover {
            background-color: white !important;
        }

    }

}

.btn-info{
    background: $base2;
    border-color: $base1;
    &:hover {
        background: darken($base2, 3%);
        border-color: $base1;
    }
}

//.btn-danger{
//    background: $danger;
//    border-color: $base1;
//    &:hover {
//        background: darken($warning, 3%);
//        border-color: $base1;
//    }
//}