

//#loading {
//    display: flex;
//    //height: 80px;
//    position: fixed;
//    top: $navHeight + 7px;
//    //bottom: 0;
//    //left: 0;
//    right: 5px;
//    //width: 80px;
//    margin: auto;
//    z-index: $zIndex5;
//    //font-size: 40px;
//    color: #5bc0de;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    .fa-spinner {
//        font-size: 29px;
//    }
//}

$spinkit-spinner-margin: 0;
$spinkit-spinner-color: $base1;
$spinkit-size: 20px;

#loading {
    position: fixed;
    top: 34px;
    right: 10px;
}