#navbar {
	display:flex;
	display: -webkit-flex;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	background: black;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0;
	li {
		padding: 10px 0;
		a {
			color: #337ab7;
		}
	}
}

#playground-notice {
	text-align: center;
	background: $danger;
	padding: 8px;
	color: white;
	margin-top: -22px;
	a {
		color: white;
		font-weight: bold;
		text-decoration: underline;
	}
}