.item {
    display: flex;
    font-size: 16px;
    padding: 5px 0;
    .fa-search-plus {
        visibility: hidden;
    }
    &:hover {
        .fa-search-plus {
            visibility: visible;
        }
    }
    .before-item {
        flex-basis: 42px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i {
            cursor: pointer;
        }
        .fa-search-plus, .fa-plus {
            font-size: 19px;
        }
    }
    .item-content {
        margin-left: 20px;
    }
}