#item-popup {
    //So the calendar doesn't get chopped off
    height: auto;
    > input,select,textarea, .save {
        width: 100%;
    }
    .pin-btn {
        &.pinned {
            color: $warning;
        }
        &.unpinned {
            //color: white;
        }
    }
    .fa-star {
        color: $warning;
    }

    .datepicker .input-group-btn {
        right: 1px;
    }
    .item-body {
        margin-top: 10px;
    }
    textarea.note {
        min-height: 300px;
    }

    button.favourite {
        margin-left: 1px;
        padding: 2px 9px;
    }
}