#item-popup {
    //height: 650px;
    //.flex {
    //    display: flex;
    //    justify-content: flex-start;
    //    > * {
    //        margin: 10px 10px;
    //    }
    //}
    > input,select,textarea, .save {
        width: 100%;
    }
    .pin-btn {
        &.pinned {
            color: $warning;
        }
        &.unpinned {
            //color: white;
        }
    }
    .fa-star {
        color: $warning;
    }
}