#search-container {
    //position: fixed;
    z-index: $zIndex2;
    //top: 47px;
    //right: 15px;
    width: 400px;
    //margin-bottom: 20px;
    padding: 0;
    background: $base1;
    max-height: calc(100% - 114px);
    label.input-group-addon, .datepicker-label-container {
        min-width: 140px;
    }
    .datepicker .btn {
        left: 0;
    }
    .checkbox-container {
        border: 1px solid #ccc;
        border-top: none;
        label {
            margin-bottom: 0;
            font-weight: normal;
        }
        padding: 5px 5px;
    }
    @media (max-width: $breakpoint2) {
        right: 0;
        left: 0;
        width: calc(100% - 27px);
        margin: auto;
        #favourites {
            ul {
                width: 100%;
            }
        }
    }
}