#favourites {
    position: relative;
    ul {
        position: absolute;
        max-height: 500px;
        overflow: scroll;
        right: 5px;
        top: 30px;
        width: 250px;
        li {
            cursor: pointer;
            &:hover {
                background: lightblue;
            }
        }
    }
}