#favourites {
    position: relative;
    ul {
        position: fixed;
        max-height: 500px;
        overflow: scroll;
        right: 5px;
        top: 94px;
        width: 250px;
        li {
            cursor: pointer;
            &:hover {
                background: lightblue;
            }
        }
    }
}